
.container{
  /* width:45%; */
  background-color:rgb(89, 13, 7);
  margin:0;
  margin-top:3vh;
  font-weight: 700;
  /* border-bottom: solid 3vh rgb(59, 9, 6); */
}
div{
border-top: 1vh solid rgb(59, 9, 6);
}
form{
  width: 90%;
  padding: 2vh;
  display: inline-grid;
}

label{
  margin: 0;
  color: white;
  font-weight: 700;
}

p{
  margin:0;
  padding: 1vh;
  padding-left: 10vh;
  color:white;
  font-weight: 700;
}

button{
  margin: auto;
  margin-top:1vh;
  font-weight: 700;
  font-size: larger;
  padding: 1vh;
  border-radius: 5%;
}
.input-container{
  border-top: solid 1vh rgb(59, 9, 6);
  width: 50%;
  background-color:rgb(89, 13, 7);
  height: 58vh;
}

form input{
  margin:1vh;
  margin-left:3vh;
  width: 45%;
  background-color: rgba(245, 245, 245, 0.815);
  border:none;
  height: 4vh;
}
form textarea{
margin: 1vh;
margin-left: 3vh;
height: 20vh;
width: 80%;
background-color: rgba(245, 245, 245, 0.815);
}
