
.container{
    background-color:rgb(89, 13, 7);
    margin:0;
    margin-top:3vh;
    /* border-bottom: solid 3vh rgb(59, 9, 6); */
}
div{
  border-top: 1vh solid rgb(59, 9, 6);

}

p{
    margin:0;
    padding: 1vh;
    padding-left: 10vh;
    color:white;
    font-weight: 500;
}
.input-container{
    border-top: solid 1vh rgb(59, 9, 6);
}

form input{
    margin:5px;
}
