<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="submitRegister(registerForm)">
    <h1>Register</h1>
    <label for="email">Email</label>
    <input #inputEmail="ngModel" type="email" name="email" ngModel required email>
    <label for="password">Password</label>
    <input #inputPassword="ngModel"  type="password" name="password" ngModel required minlength="1">
    <label for="repeat-password">Repeat Password</label>
    <input #inputRepeatPassword="ngModel" type="password"  name="repeatPassword" ngModel required minlength="1">
    <button [disabled]="inputEmail.invalid
    || inputPassword.invalid
    || inputRepeatPassword.invalid
    || (inputPassword!.value!=inputRepeatPassword.value)">Submit</button>

  </form>
</div>
